.desktop {
    background-color: #838687;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  .desktop .overlap-wrapper {
    background-color: #838687;
    height: 1024px;
    overflow: hidden;
    width: 1440px;
  }
    .desktop .overlap {
    height: 1020px;
    position: relative;
    top: 13px;
  }
  
  .desktop .overlap-group {
    height: 991px;
    left: 35px;
    position: absolute;
    top: 20px;
    width: 1405px;
  }
  
  .desktop .frame {
    background-color: #00596c;
    border: 1px solid;
    border-color: #0000001a;
    border-radius: 20px;
    height: 901px;
    left: 814px;
    overflow: hidden;
    position: absolute;
    top: 90px;
    width: 591px;
  }
  
  .desktop .div {
    height: 72px;
    left: -25px;
    position: absolute;
    top: 0;
    width: 834px;
  }
  
  .desktop .rectangle {
    background-color: #fffbfb;
    border-radius: 20px 20px 0px 0px;
    height: 72px;
    left: 25px;
    position: absolute;
    top: 0;
    width: 809px;
  }
  
  .desktop .text-wrapper {
    color: #00596c;
    font-family: "Montserrat", Helvetica;
    font-size: 35px;
    font-weight: 800;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 17px;
    white-space: nowrap;
    width: 372px;
  }
  
  .desktop .div-wrapper {
    background-color: #0087a4;
    border-radius: 20px 20px 0px 0px;
    height: 72px;
    left: 0;
    position: absolute;
    top: 451px;
    width: 809px;
  }
  
  .desktop .text-wrapper-2 {
    color: #ffffff;
    font-family: "Montserrat", Helvetica;
    font-size: 35px;
    font-weight: 800;
    left: 25px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 16px;
    white-space: nowrap;
    width: 449px;
  }
  
  .desktop .text-wrapper-3 {
    color: #ffffff;
    font-family: "Montserrat", Helvetica;
    font-size: 80px;
    font-weight: 700;
    height: 62px;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: 975px;
  }
  
  .desktop .group {
    height: 503px;
    left: 359px;
    position: absolute;
    top: 10px;
    width: 507px;
  }
  
  .desktop .overlap-2 {
    height: 433px;
    left: 0;
    position: absolute;
    top: 0;
    width: 491px;
  }
  
  .desktop .image-removebg {
    height: 401px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 390px;
  }
  
  .desktop .text-wrapper-4 {
    color: #ffffff;
    font-family: "Montserrat", Helvetica;
    font-size: 15px;
    font-weight: 700;
    height: 24px;
    left: 113px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 132px;
    width: 40px;
  }
  
  .desktop .text-wrapper-5 {
    color: #ffffff;
    font-family: "Montserrat", Helvetica;
    font-size: 20px;
    font-weight: 700;
    height: 30px;
    left: 200px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 132px;
    width: 51px;
  }
  
  .desktop .text-wrapper-6 {
    color: #ffffff;
    font-family: "Montserrat", Helvetica;
    font-size: 20px;
    font-weight: 700;
    height: 34px;
    left: 268px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 207px;
    width: 59px;
  }
  
  .desktop .text-wrapper-7 {
    color: #ffffff;
    font-family: "Montserrat", Helvetica;
    font-size: 20px;
    font-weight: 700;
    height: 30px;
    left: 102px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 241px;
    width: 60px;
  }
  
  .desktop .text-wrapper-8 {
    color: #ffffff;
    font-family: "Montserrat", Helvetica;
    font-size: 25px;
    font-weight: 800;
    left: 268px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 396px;
    width: 223px;
  }
  
  .desktop .text-wrapper-9 {
    color: #ffffff;
    font-family: "Montserrat", Helvetica;
    font-size: 25px;
    font-weight: 800;
    left: 28px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 396px;
    width: 223px;
  }
  
  .desktop .ellipse {
    background-color: #ffb200;
    border-radius: 9.09px/9.4px;
    height: 19px;
    left: 233px;
    position: absolute;
    top: 401px;
    width: 18px;
  }
  
  .desktop .img {
    height: 19px;
    left: 0;
    position: absolute;
    top: 401px;
    width: 18px;
  }
  
  .desktop .overlap-3 {
    height: 37px;
    left: 28px;
    position: absolute;
    top: 466px;
    width: 223px;
  }
  
  .desktop .ellipse-2 {
    height: 19px;
    left: 204px;
    position: absolute;
    top: 6px;
    width: 18px;
  }
  
  .desktop .text-wrapper-10 {
    color: #ffffff;
    font-family: "Montserrat", Helvetica;
    font-size: 25px;
    font-weight: 800;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 223px;
  }
  
  .desktop .text-wrapper-11 {
    color: #ffffff;
    font-family: "Montserrat", Helvetica;
    font-size: 25px;
    font-weight: 800;
    left: 268px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 465px;
    white-space: nowrap;
    width: 147px;
  }
  
  .desktop .ellipse-3 {
    height: 19px;
    left: 1px;
    position: absolute;
    top: 472px;
    width: 18px;
  }
  
  .desktop .frame-2 {
    background-color: #838687;
    border: 1px solid;
    border-color: #0000001a;
    border-radius: 4px;
    height: 97px;
    left: 1074px;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 334px;
  }
  
  .desktop .text-wrapper-12 {
    color: #ffffff;
    font-family: "Montserrat", Helvetica;
    font-size: 60px;
    font-weight: 700;
    left: 16px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: right;
    top: 12px;
    white-space: nowrap;
    width: 304px;
  }
  
  /* Styling for the .text-wrapper-13 */
  .desktop .text-wrapper-13 {
    color: #ffffff;
    font-family: "Montserrat", Helvetica;
    font-size: 60px;
    font-weight: 700;
    left: 16px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: right;
    top: 12px;
    white-space: nowrap;
    width: 39px;
  }
  
  /* Styling for the .overlap-group-wrapper container */
  .desktop .overlap-group-wrapper {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #0000001a;
    border-radius: 20px;
    height: 450px;
    left: 356px;
    overflow: hidden;
    position: absolute;
    top: 561px;
    width: 493px;
  }
  
  /* Styling for the .overlap-4 container */
  .desktop .overlap-4 {
    background-color: #0087a4;
    border-radius: 20px 20px 0px 0px;
    height: 72px;
    position: relative;
    width: 783px;
  }
  
  /* Styling for the .text-wrapper-14 */
  .desktop .text-wrapper-14 {
    color: #ffffff;
    font-family: "Montserrat", Helvetica;
    font-size: 35px;
    font-weight: 800;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 16px;
    white-space: nowrap;
    width: 223px;
  }
  
  /* Styling for the .frame-3 container */
  .desktop .frame-3 {
    background-color: #00596c;
    border: 1px solid;
    border-color: #0000001a;
    border-radius: 20px;
    height: 915px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 105px;
    width: 356px;
  }
  
  /* Styling for the .overlap-5 container */
  .desktop .overlap-5 {
    background-color: #0087a4;
    border-radius: 20px 20px 0px 0px;
    height: 48px;
    left: 0;
    position: absolute;
    top: 0;
    width: 355px;
  }
  
  /* Styling for the .text-wrapper-15 */
  .desktop .text-wrapper-15 {
    color: #ffffff;
    font-family: "Montserrat", Helvetica;
    font-size: 35px;
    font-weight: 800;
    left: 64px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 6px;
    white-space: nowrap;
    width: 194px;
  }
  
  /* Styling for the .overlap-6 container */
  .desktop .overlap-6 {
    height: 901px;
    left: -41px;
    position: absolute;
    top: 48px;
    width: 396px;
  }
  
  /* Styling for the .overlap-7 container */
  .desktop .overlap-7 {
    height: 901px;
    left: 0;
    position: absolute;
    top: 0;
    width: 396px;
  }
  
  /* Styling for the .text-wrapper-16 */
  .desktop .text-wrapper-16 {
    color: #ffffff;
    font-family: "Montserrat", Helvetica;
    font-size: 15px;
    font-weight: 600;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 20px;
    width: 226px;
  }
  
  /* Styling for the .line */
  .desktop .line {
    height: 386px;
    left: 216px;
    position: absolute;
    top: 0;
    width: 1px;
  }
  
  /* Styling for the .rectangle-2 */
  .desktop .rectangle-2 {
    background-color: #ffffff;
    height: 901px;
    left: 217px;
    position: absolute;
    top: 0;
    width: 179px;
  }
  
  /* Styling for the .line-2 */
  .desktop .line-2 {
    height: 2px;
    left: 41px;
    position: absolute;
    top: 828px;
    width: 355px;
  }
  
  /* Styling for the .text-wrapper-17 */
  .desktop .text-wrapper-17 {
    color: #ffffff;
    font-family: "Montserrat", Helvetica;
    font-size: 15px;
    font-weight: 600;
    left: 16px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 76px;
    width: 194px;
  }
  
